# =========================
# Python virtual environments
# =========================
venv/
.env/
rag_env/
.venv/

# =========================
# Python cache / build
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/


# =========================
# Logs / temp files
# =========================
*.log
*.tmp
*.pkl
# =========================
# HuggingFace / sentence-transformers cache (optional)
# =========================
.cache/
hf_cache/
